body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  background-color: #CCD0E8;
}

/* ------------------- Header---------------------------- */
.header {

  padding: 20px;
  text-align: center;
  width: 100%;
}

/* -------------------nav-bar---------------------------- */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.nav-bar,
.nav-bar a {
  font-size: 16px;
}

nav ul {
  list-style-type: none;
  display: flex;
  color: #6B708D;
}

nav li {
  margin-right: 25px;
}

nav a:hover {
  color: #072AC8;
}

#contact-btn {
  background-color: #072AC8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  cursor: pointer;
}

/* -------------------Container Hero--------------------- */
.container-hero {
  width: 80%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h1 {
  font-size: 70px;

}

img {
  max-width: 100%;
}

.images {
  position: relative;
  width: 40%;


}

.hero-image {
  width: 100%;
  display: block;
}

.card-one {
  position: absolute;
  top: 20px;
  left: -70px;
  width: 60%;
  height: auto;
}

.card-two {
  position: absolute;
  bottom: -130px;
  right: -85px;
  width: 60%;
  height: auto;
}

#text-hero-p {
  color: #6B708D;
  font-size: xx-large;
  margin-bottom: 50px;
}

.bton-touch,
.bton-see {
  background-color: #072AC8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}

.bton-see {
  background-color: #CCD0E8;
  color: #6B708D;
}

/* -------------------Container logo--------------------- */
.container-logo {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;

}

.logos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos img {
  max-width: 80%;
  height: auto;
  filter: grayscale(100%);
}


.logos img:not(:last-child) {
  margin-right: 20px;
}



/* ------------------- Recent projects------------------- */
.projects {
  width: 80%;
}

.card-projects {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;


}

.card {
  background-color: #FFFFFF;
  width: 340px;
}

.projects h3 {
  color: #292E47;
  font-size: 28px;
  margin-bottom: 20px;
}

.projects img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  margin-right: 20px;

}

.projects h4 {
  font-size: 20px;
  margin: 10px 0;
  padding: 10px 20px;

}

.p-card {
  padding: 10px 20px;
  color: #6B708D;
}



.projects button {
  background-color: #FFFFFF;
  color: #072AC8;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

}

.projects button:hover {
  background-color: #051e5f;
}

.projects article:nth-child(1) {
  left: 0;
}

.projects article:nth-child(2) {
  left: 370px;
}

.projects article:nth-child(3) {
  left: 740px;
}

/* ------------------- Icons --------------------------- */

.container-icons {
  width: 90%;
  margin: 100px auto;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../Assets/testimonial-section/orbit.png);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-color: #292E47;
  padding: 20px; 
  position: relative;
}

.icon1,
.icon2,
.icon3,
.icon4 {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  position: absolute;
}

.icon1 {
  position: absolute;
  top: 20px;
  left: 20px;
}

.icon2 {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.icon4 {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


#h3-icons {
  color: #F4F6FC;
  font-size: 40px;
  margin-top: 200px;
}

#q-icons {
  color: #FFC600;
  font-size: 30px;
  margin-bottom: 50px;
}

.clients-info-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 20px; 
}

#testimonial-image {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px; 
}

.clients-info {
  color: #A2D6F9;
  font-size: 18px;
}



/* ------------------- Our services--------------------------- */













/* ------------------- Clients section form------------------- */
.email-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 10px;
}


.email-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
}

#email {
  padding-left: 40px;
}

/* ---------------------------- Navbar Footer---------------------- */